@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

html,
body,
#__nuxt {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  background-color: #fff;
  font-family: "DM Sans", sans-serif;
}

:root {
  /* light mode */
  --primary: #10b981;
  --background: #fafafa;
  --text-color: #252525;
  --destructive: #ef4444;
  --secondary: #f3f4f6;
}

.dark {
  /* dark mode */
  --primary: #10b981;
  --background: #252525;
  --text-color: #fafafa;
  --card: #252525;
  --secondary: #444444;
  --muted: #444;
  --border: #444;
}
