@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

html,
body,
#__nuxt {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  background-color: #fff;

  /* Hide scrollbar for Chrome, Safari, Opera, Brave */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#__nuxt::-webkit-scrollbar {
  display: none;
}

:root {
  /* light mode */
  --primary: #10b981;
  --background: #fafafa;
  --text-color: #252525;
  --destructive: #ef4444;
  --secondary: #f3f4f6;
  /* Override DaisyUI default font */
  --font-sans: "DM Sans", sans-serif;
}

.dark {
  /* dark mode */
  --primary: #10b981;
  --background: #252525;
  --text-color: #fafafa;
  --card: #252525;
  --secondary: #444444;
  --muted: #444;
  --border: #444;
}
