name: Node.js CI

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: use node.js
        uses: actions/setup-node@v4
        with:
          node-version: v24.12.0
      - name: Install dependencies
        run: npm ci
      - name: Run lint
        run: npm run lint:fix
